body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Arial;
    background-color: #202124;
}
a {
    text-decoration: none;
    cursor: pointer;
}
header {
    height: 160px;
    width: 100%;
    padding: 6px;
}
header nav {
    display: flex;
    justify-content: end;
}
header .nav__ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 268px;
    margin-left: 15px;
}
header .nav__ul li a {
    color: #e8eaed;
    padding-right: 15px;
}
header .nav__ul picture img{
    border-radius: 50%;
} 
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer .footer-container {
    background-color: #171717;
    display: block;
    font-size: 15px;

}
footer .footer-list {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #212327;
    padding: 0 20px;
    flex-wrap: wrap;
    padding-left: 0;
}
footer .footer-list ul {
    list-style: none;
    color: #9aa0a6;
    display: flex;
}
footer .footer-list ul li a{
    padding: 15px;
    color: #999da2;
}
footer .footer-list ul li a:hover{
    text-decoration: underline;
}
footer .footer-list .footer-left {
    display: flex;
    justify-content: space-evenly;
}
footer .footer-mexico {
    border-bottom: 1px solid #212327;
    display: block;
    color: #9aa0a6;
    padding: 15px 30px;
}
main {
    text-align: center;

}
main .main-logo {
    width: 350px;
    margin: 0 auto;
}
main .main-logo img {
    width: 272px;
    height: 92px;
}
main .main-input {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
}
main .main-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #414448;
    border-radius: 100px;
    width: 525px;
    margin: 0 auto;
}
main .main-input-container:hover, main .main-input-text:hover {
    background-color: #303134;
}
main .main-input-text {
    border: none;
    outline: none;
    padding: 0;
    width: 450px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    color: #e8eaed;
}
main .main-input .main-mic-icon {
    align-self: center;
    height: 20px;
    width: 20px;
    color: #9aa0a6;
}
main .main-input .main-search-icon {
    align-self: center;
    height: 20px;
    width: 20px;
    color: #9aa0a6;
    cursor: auto;
}

main .main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-buttons button {
    height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    text-align: center;
    font-style: 14px;
    margin: 11px 4px;
    cursor: pointer;
}
main .main-buttons button:hover {
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed;
}