body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-family: Arial;
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    height: 160px;
    width: 100%;
    padding: 6px;
}
header nav {
    display: flex;
    justify-content: end;
}

header .nav__ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 268px;
}

header .nav__ul li a {
    color: black;
    margin-right: 15px;
}
header .nav__ul picture img{
    border-radius: 50%;
} 
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer .footer-container {
    background-color: #171717;
    display: block;
    font-size: 15px;

}
footer .footer-list {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #212327;
    padding: 0 20px;
    flex-wrap: wrap;
    padding-left: 0;
}
footer .footer-list ul {
    list-style: none;
    color: #9aa0a6;
    display: flex;
}
footer .footer-list ul li a{
    padding: 15px;
    color: #999da2;
}
footer .footer-list ul li a:hover{
    text-decoration: underline;
}
footer .footer-list .footer-left {
    display: flex;
    justify-content: space-evenly;
}
footer .footer-mexico {
    border-bottom: 1px solid #212327;
    display: block;
    color: #9aa0a6;
    padding: 15px 30px;
}